/* Estilização do header */
.header {
  display: flex; /* Usando flexbox para o header */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: #f4f4f4; /* Cor de fundo para o header */
}

/* Flexbox no container da logo e título */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente */
  gap: 15px; /* Espaçamento entre logo e título */
}

/* Estilização da logo */
.logo {
  width: 10%; /* Ajuste o tamanho conforme necessário */
  height: 10%; /* Ajuste o tamanho conforme necessário */
}
.paragrafo{
  text-align: center;
  font-style: italic;
}

.sublinhado{
  text-decoration: none;
}